body{
    font-family:Arial,same-serif;
    background-color: #f4f4f4;
}
.container{
    width:400px;
    margin: 100px auto;
    background: white;
    padding:25px;
    border-radius:10px;
}

h1{
    text-align:center;
}
label{
    display:block;
    margin-top:15px;
}
input,
select{
    width:100%;
    padding: 10px;
    margin-top: 5px;
}
button{
    width:100%;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}
.container p{
    word-wrap: break-word;
    overflow-wrap: break-word;
}