<!DOCTYPE html>
<html>
<head>
    <title>Interview Feedback</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h1>Interview Feedback</h1>
    <p><strong>Name:</strong> {{ username}}</p>
    <p><strong>Question:</strong> {{ question}}</p>
    <p><strong>Your Answer:</strong> {{ answer}}</p>
    <P><strong>Score:</strong> {{ score}}/24</p>
    <p><strong>feedback:</strong> {{ feedback_text}}</p>
    <p><strong>Performance:</strong> {{ performance }}</p>
    <a href="/">
        <button>Start New Interview</button>
    </a>
</div>
</body>
</html>