<!DOCTYPE html>
<html>
<head>
    <title>Interview Question</title>
</head>
<body>

    <h1>Welcome {{ username }}</h1>

    <h2>Question 1</h2>

    <p>{{ question }}</p>

    <form action="/feedback" method="POST">
        <input type="hidden" name="username" value="{{ username }}">
        <input type="hidden" name="question" value="{{ question }}">
        <input type="hidden" name="role" value="{{ role}}">
        <textarea rows="6" cols="60" name="answer" placeholder="Write your answer here"></textarea>

    <br><br>

    <button type="submit">Submit Answer</button>
    </form>
</body>
</html>